.repo {
    border: 1px solid rgb(97, 97, 97);
    padding: .5rem;
    border-radius: 12px;

    h5 {
        font-weight: 600;
    }

    p {
        color: rgb(51, 50, 50);
    }
}

.card-header {
    background-color: rgb(1, 42, 74);
    color: whitesmoke;
}