<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="search-header">
                <h4>Github Search</h4>
            </div>
            <!-- <div>

            </div> -->
            <div class="search-body">
                <form class="form-inline" (submit)="searchUser(userQuery)">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search Github" name="user" [(ngModel)]="userQuery">
                    </div>

                    <!-- {{userQuery}} -->
                    <div>
                        <button type="submit" value="search" class="btn">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-user-profile [userProfile]="userProfile"></app-user-profile>
        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>