<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="search-header">
                <h4>Github Search</h4>
            </div>
            <div class="search-body">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search Github">
                    </div>
                    <div>
                        <button type="submit" value="submit" class="btn">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>